doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 La Espiga de Oro
        a(href="/pedidos/nuevo") Sistema de gestión de pedidos para sucursales y franquicias.
        br
        a(href="/pedidos") Gestión de pedidos.
