doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Cargar Nuevo Pedido - La Espiga de Oro
        
        //La ruta action debe ser /pedidos/nuevo para coincidir con nuestro router
        form(action="/pedidos/nuevo", method="POST")
            div
                //Pedimos el ID para que el controlador pueda cruzarlo con clientes.json
                label(for="sucursal") ID de la Franquicia/Sucursal:
                input(type="number", name="sucursal", placeholder="Ej: 1", required=true)
            
            div
                //Pedimos IDs separados por coma para cruzarlo con productos.json
                label(for="productos") IDs de Productos (separar por coma):
                input(type="text", name="productos", placeholder="Ej: 1, 2", required=true)
            
            button(type="submit" class="btn-primary") Enviar Pedido a Planta
        
        br
        a(href="/pedidos" class="btn-secondary") Cancelar y volver